div#snakeContainer {
	background-color: #ccc;
	clear: both;
	display: block;
	outline: 1px solid black;
	padding: 0 0 1px 1px;
}

div#snake {
	background-color: transparent;
	border-color: #000;
	border-style: solid;
	border-width: 1px 0 0 0;
	display: block;
	height: 100px;
	width: 100px;
}

div.snake_cell {
	display: inline-block;
	float: left;
	margin: 1px 1px 0 0;
}

span.snakeLabel {
	border-color: #000;
	border-style: solid;
	border-width: 0 1px 0 0;
	display: inline-block;
	font-size: 12px;
	padding: 1px 5px;
}

span.snakeLabelRight {
	border-width: 0 0 0 1px;
	float: right;
}

span.snakeInput {
	background-color: #fff;
	border: 1px solid black;
	display: inline-block;
	min-width: 35px;
	padding: 0 2px;
	text-align: right;
}

span.snakeText {
	border: 1px solid transparent;
	display: inline-block;
	padding: 0 2px;
}

span.snakeButton {
	background-color: #faa;
	border: 1px solid black;
	cursor: pointer;
	display: inline-block;
	padding: 0 4px;
}

span.snakeButton:active {
	background-color: #fbb;
	border: 1px solid black;
	cursor: pointer;
	display: inline-block;
	padding: 0 4px;
}